body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 190vh;
    margin: 0;
    background-image: url('Imagenes/registro.png'); /* Agrega la imagen de fondo aquí */
}

/* Resto de tus estilos... */


/* Estilos específicos para el encabezado negro */
.black-header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
}

.account {
    margin-right: 10px;
    cursor: pointer;
}

.subscribe-btn {
    background-color: #3d673c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px; /* Ajusta la distancia vertical del botón Suscríbete */
}

.login-btn {
    margin-top: 30px; /* Ajusta la distancia vertical del botón "Acceder" */
}

.login-container {
    background-color: rgba(0, 0, 0, 0.5); /* Negro suave como fondo */
    padding: 15px; /* Ajusta el padding según tus necesidades */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para un efecto elevado */
    text-align: center;
    margin: 0px auto; /* Ajusta el margen y quita el margen superior */
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    color: #fff;
    display: flex; /* Utiliza flexbox para alinear los elementos en el centro */
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-container label,
.login-container input {
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    background-color: #fff; /* Fondo blanco para los campos de entrada */
    color: #333; /* Texto oscuro para los campos de entrada */
}

.login-container button {
    background-color: #3d673c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Botón igual de ancho que el contenedor */
}
.black-footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    transition: opacity 0.3s ease; /* Agrega una transición de opacidad para suavizar el efecto */
}

.black-footer p {
    margin: 5px 0;
}
.hidden {
    display: none;
}